<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <style>
     body{
  background-color:beige;
}
.main{
     margin-bottom: 40px;
     font-size: 50px;

}
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h2 class="logo"><a href="#">Waste Classifier</a></h2>
        <input type="checkbox" id="menu-toggler">
        <label for="menu-toggler" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z"/>
          </svg>
        </label>
        <ul class="all-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="classifier.html">Classifier</a></li>
          <li><a href="craft.html">Craft</a></li>
          <li><a href="index.html#about">About Us</a></li>
          <li><a href="index.html#contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>


<section id ="Solution">
  <div class="main">
    Upcycling Craft Ideas </div>
  <h2 class="sub-t">
   </h2>
  <div class="container">
  
<div id="videoCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      
      
      
    </ol>

    <div class="carousel-inner">
      <div class="video carousel-item active iframe-container">
        <iframe width="660" height="375" src="https://www.youtube.com/embed/HkHEJEzMKwc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class=" video carousel-item iframe-container ">
        <iframe width="660" height="375" src="https://www.youtube.com/embed/DjDaj6rkW0M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class=" video carousel-item iframe-container ">
        <iframe width="660" height="375" src="https://www.youtube.com/embed/DMiDFoa04_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class=" video carousel-item iframe-container ">
        <iframe width="660" height="375" src="https://www.youtube.com/embed/uZN7IRT7xvo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class=" video carousel-item iframe-container ">
        <iframe width="660" height="375" src="https://www.youtube.com/embed/61ZJfm-JDQk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class=" video carousel-item iframe-container ">
        <iframe width="660" height="375" src="https://www.youtube.com/embed/etg6tf-R008" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class=" video carousel-item iframe-container ">
        <iframe width="660" height="375" src="https://www.youtube.com/embed/mbRI854-Fl0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
    </div>

    <a class="carousel-control-prev" href="#videoCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#videoCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  <h3></h3>

  
	<div class="row" id="what-if">
    <br>
    <hr>
    <div class="col-md-6 col-xs-6 classy_frame" style="padding-top: 0%; padding-bottom: 2%;">
      <center><h2 class = "vid" style="text-transform: capitalize;">What If We Stopped Recycling?</h2></center>

      <div class="embed-responsive embed-responsive-16by9"> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8fFJOzXxB54" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6 col-xs-6 classy_frame" style="padding-top: 0%; padding-bottom: 2%;">
      <center><h2 class = "vid" style="text-transform: capitalize;">What If We Created No Waste?</h2></center>

      <div class="embed-responsive embed-responsive-16by9"> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wWbL7Mv2MFw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row" id="motivation">
    <br>
    <hr>
    <center><h2  class = "vid"style="text-transform: capitalize;">Why We Need Awareness</h2></center>
    <div class="col-md-12 classy_frame" style="padding-top: 2%; padding-bottom: 2%;">
      <div class="embed-responsive embed-responsive-16by9"> 
        <iframe width="350" height="200" src="https://www.youtube.com/embed/NhF4pXBNfq8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</section>
     
          
     </body>
</html>